.env
venv/
__pycache__/
*.pyc
env_file_activation.txt
env
__pycache__/submit_report.cpython-311.pyc
Gemini_Generated_Image_m1edubm1edubm1ed.png
Gemini_Generated_Image_f02ufof02ufof02u.png


WhatsApp Image 2026-01-10 at 3.47.50 PM (1).jpeg