--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: danger_zone; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.danger_zone (id, location, latitude, longitude, report_count) FROM stdin;
1	Pune	18.5204303	73.8567437	1
2	Kothrud	18.5073514	73.8076543	1
3	Delhi	28.6139298	77.2088282	1
4	Borivalli	19.2307329	72.856673	1
5	koregaon	17.6966354	74.1607179	1
6	Bibewadi	18.4690213	73.8640944	3
7	Viman Nagar	18.5678553	73.9143637	1
\.


--
-- Data for Name: report; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: danger_zone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.danger_zone_id_seq', 7, true);


--
-- Name: report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.report_id_seq', 32, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 6, true);


--
-- PostgreSQL database dump complete
--

